html {
  box-sizing: border-box;
  font-family: Georgia;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  max-width: 60em;
}

maijn {
  background-color: #f5f2f0;
  font-family: Georgia;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {

}
